# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales
venv/
env/
ENV/

# Variables de entorno y secretos (CRÍTICO)
.env
.env.local
.env.prod

# IDEs
.vscode/
.idea/

# Jupyter Notebooks
.ipynb_checkpoints

# Datos (no subir CSVs o bases de datos pesadas)
data/raw/
data/processed/
*.sqlite3

# Resultados y Modelos entrenados
results/

# Caché de producción y Cuarentenas MLOps
cache/
*.lock

# Logs
*.log

# Gráficos de Backtest (contienen resultados financieros sensibles)
portfolio_backtest_*.png
global_portfolio_hrp.png

# Pytest
.pytest_cache/

# MLflow Tracking y Artifacts
mlruns/
mlartifacts/
mlflow.db
*.db


