# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales
venv/
env/
ENV/

# Variables de entorno y secretos (CRÍTICO)
.env
.env.local
.env.prod

# IDEs
.vscode/
.idea/

# Jupyter Notebooks
.ipynb_checkpoints

# Datos (no subir CSVs o bases de datos pesadas)
data/raw/
data/processed/
*.sqlite3

# Resultados y Modelos entrenados (Protección de Alpha e Hiperparámetros)
results/

# Caché de producción
cache/

# Logs
*.log
